<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nutritionsmart">

    <application
        android:allowBackup="true"
        android:icon="@drawable/protologo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Hamburger1"
            android:label="@string/title_activity_hamburger1"
            android:parentActivityName=".RecentFoods"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nutritionsmart.RecentFoods" />
        </activity>
        <activity android:name=".condition123" />
        <activity android:name=".condition23" />
        <activity android:name=".condition13" />
        <activity android:name=".condition12" />
        <activity android:name=".condition3" />
        <activity android:name=".condition1" />
        <activity android:name=".condition0" />
        <activity android:name=".condition2" />
        <activity android:name=".RecentFoods" />
        <activity android:name=".reminders" />
        <activity
            android:name=".ShoppingList"
            android:exported="true" />
        <activity android:name=".GeneralSearch" />
        <activity android:name=".search_by_common_condition" />
        <activity android:name=".condition_search_results" />
        <activity android:name=".recommendations_for_medical_condition" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>